body > header {
  border-bottom: 1px solid $solar-red;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $grey;
      text-decoration: none;
      font-weight: bold;
      background: transparent;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
