.gist {
  color: #000;
}

.gist-file, figure.code {
  border: 1px solid #dedede;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin-bottom: 1em;

  .gist-meta {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    overflow: hidden;
    font-size: 85%;
    color: #666;
    background-color: #eaeaea;
    padding: .5em;
    a {
      color: #369;
      &:visited {
        color: #737;
      }
    }
  }

  .gist-data, .highlight {
    overflow: auto;
    word-wrap: normal;
    background-color: #f8f8ff;
    border-bottom: 1px solid #ddd;
    font-size: 100%;
    .line-data, .code {
      padding: .5em!important;
    }
    .line-pre {
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      background: transparent!important;
      border: none!important;
      margin: 0!important;
      padding: 0!important;
    }
    .gist-highlight {
      background: transparent!important;
    }
    .line-numbers, .gutter {
      background-color: #ececec;
      color: #aaa;
      border-right: 1px solid #ddd;
      text-align: right;
      padding: .5em;
      .line-number {
        clear: right;
        display: block;
      }
    }
  }
}

.gist-syntax, .highlight {
  background: #fff;
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .cp {
    color: #999;
    font-weight: 700;
  }
  .cs {
    color: #999;
    font-weight: 700;
    font-style: italic;
  }
  .gd {
    color: #000;
    background-color: #fdd;
    .x {
      color: #000;
      background-color: #faa;
    }
  }
  .ge {
    color: #000;
    font-style: italic;
  }
  .gi {
    color: #000;
    background-color: #dfd;
    .x {
      color: #000;
      background-color: #afa;
    }
  }
  .go {
    color: #888;
  }
  .gs {
    font-weight: 700;
  }
  .gu {
    color: #aaa;
  }
  .nb {
    color: #0086B3;
  }
  .ni {
    color: purple;
  }
  .nt {
    color: navy;
  }
  .w {
    color: #bbb;
  }
  .sr {
    color: #009926;
  }
  .ss {
    color: #990073;
  }
  .c, .cm, .c1 {
    color: #998;
    font-style: italic;
  }
  .k, .o, .kc, .kd, .kp, .kr, .ow {
    color: #000;
    font-weight: 700;
  }
  .gr, .gt {
    color: #a00;
  }
  .gh, .bp {
    color: #999;
  }
  .gp, .nn {
    color: #555;
  }
  .kt, .nc {
    color: #458;
    font-weight: 700;
  }
  .m, .mf, .mh, .mi, .mo, .il {
    color: #099;
  }
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
    color: #d14;
  }
  .na, .no, .nv, .vc, .vg, .vi {
    color: teal;
  }
  .ne, .nf {
    color: #900;
    font-weight: 700;
  }
}
